.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  padding: 0;
  background-image: url('https://www.cleveland.com/resizer/5YrPIgj1Jdu6UJ0w5kvqT00W-nU=/1280x0/smart/cloudfront-us-east-1.images.arcpublishing.com/advancelocal/LJCIEG6HHZGL3MOLBAAGGTOQHU.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: Arial, sans-serif;
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-family: "Arial", sans-serif;
  color: white;
  text-align: center;
  justify-content: flex-start; 
  min-height: 100vh; /* Ensure the header takes the full height of the viewport */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

input[type="text"] {
  background-color: rgba(255, 255, 255, 0.568);
  margin-bottom: 10px;
  margin-left: 10px;
  align-items: center;
  padding: 10px;
  font-size: 16px;
}

input[type="submit"] {
  padding: 10px 24px;
  font-size: 18px;
  background-color: #ba0c2f; /* Set the submit button background color to NBA red */
  color: white; /* Set the submit button text color to white */
  border: 1px solid black;
  cursor: pointer;
  border-radius: 5px;
}

input[type="submit"]:hover {
  background-color: #aa0928; /* Darken the submit button color on hover */
}

.PlayerStats {
  margin-top: 30px;
  font-size: 20px;
}

.Scoreboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.514);
  border-radius: 10px;
  margin: 20px auto;
  max-width: 500px;
  border: 1px solid black;
}

.Score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ba0c2f; /* Set the stat box background color to NBA red */
  color: white; /* Set the stat box text color to white */
  margin-bottom: 10px; 
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  width: 250px;
}

.Header {
  padding: 15px;
  background-color: #ba0c2f;
  border: 2px solid black;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase; 
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.Header::before {
  font-size: 50px;
  display: block;
  color: #f2f2f2; 
}


.Header::after {
  content: "";
  display: block;
  height: 10px;
}

.App h2 {
  margin-bottom: 0px; 
  text-align: center; 
}







